/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital@0;1&display=swap'); */
@font-face {
    font-family: 'PTSerif';
    src: url(./fonts/PT_Serif/PTSerif-Bold.ttf);
}
*{
    font-size: 20px;
    font-family: 'PTSerif';
}
.text{
    font-family: 'PTSerif';
    font-size: 1.2em;
}

.text_rem{
    font-size: 1.4rem;
    font-family: 'PTSerif';
}